.test.top.left, .test.top.right{
    background-color: rgb(44, 62, 80);
    height: 50px;;
}

.test{
  height: 200px;
  color: white;
}

.test.one{
    background-color: rgb(167, 164, 164);
}

.test.two{
    background-color: rgb(145, 141, 141);
}

.test.three{
    background-color: rgb(85, 84, 84);
}

.test.four{
    background-color: rgb(77, 77, 77);
}

.test.five{
    background-color: rgb(53, 53, 53);
}

.row.two{
    background-color: darkgoldenrod;
}

.row.two div{
    background-color: darkorange;
    height: 100px;
    border: 1px solid black;
}

.col-1{
    height: ;
}