.my-nav, .my-footer{
    background-color: rgb(42, 58, 74);
}

.my-nav-right-text{
    list-style-type: none;
}

.my-jumbo, .my-about, .my-btn{
    background-color: rgb(26, 188, 156);
    color: white;
}

.brand{
    color: rgb(26, 188, 156);
}

.my-img-wrapper{
    max-width: 250px;
}

#jumbo .my-divider-left, #jumbo .my-divider-right,
#about .my-divider-left, #about .my-divider-right{
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

#portfolio .my-divider-left, #portfolio .my-divider-right,
#contacts .my-divider-left, #contacts .my-divider-right{
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

#location{
    background-color: rgb(58, 84, 109);
}

/* #about .my-divider-left, #about .my-divider-right{
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
} */

/* #contacts .my-divider-left, #contacts .my-divider-right{
    max-width: 100px;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
} */